@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Raleway:wght@300&display=swap')

;body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color:#2E4053;
}
#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  color: white;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
}

.subtitulo {
  color: white;
  font-size: 28px;
  font-family: 'Raleway', sans-serif;
}

.tarjetas {
  display: flex;
  gap: 10px;
}

.tarjeta-de-mokepon {
  width: 280px;
  height: 150px;
  background:#45B39D;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.tarjetas input[name='mascota']:checked + .tarjeta-de-mokepon{
background-color:#99A3A4;
}

.tarjeta-de-mokepon img {
  width: 90px;
}

#boton-mascota {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background: #95A5A6  ;
  border: 2px solid white;
  color: white;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  margin-top: 30px;
}
input {
  display: none;
}
.boton-ataques{
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background: #95A5A6  ;
  border: 2px solid white;
  color: white;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  margin-top: 30px;
}

.mensajes-vidas{
  display: flex;
  align-items: flex-start;
  padding: 10px;
  width: 450px;
  height: 150px;
  border-radius: 20px;
  color: white;
  font-size: 18px;
  font-family: 'Inconsolata', monospace; 
  gap: 40px;
}
.carta-jugador{
  display: flex;
  align-items: center;
  align-content: center;
  padding: 10px;
  background-color:#99729C;
  width: 300px;
  height: 200px;
  border-radius: 15px;
  font-size: 25px;
}
.carta-enemigo{
  display: flex;
  align-items: center;
  align-content: center;
  padding: 10px;
  background-color:#99729C;
  width: 300px;
  height: 200px;
  border-radius: 15px;
  font-size: 25px;
}
#mensajes{
  color: white;
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
}

#boton-reiniciar{
  width: 150px;
  height: 40px;
  border-radius: 15px;
  background: #95A5A6  ;
  border: 2px solid white;
  color: white;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  margin: 15px 0;
}

#seleccionar-ataque{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.boton-ataques{
  margin: 50px 0;
}