@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200&family=Inconsolata&family=Raleway:wght@300&display=swap');

:root {
  --verde-tarjetas: #73C6B6;
  --azul-background:#2E405F;
  --white-textos:white;
  --gris-botones:#95A5A6;
  --gris-seleccion-boton:#99a3a4;
  --degradado:linear-gradient(#e6b0aa,#73c6b6);
  --tarjeta-enemigo:#e6b0aa;
  --tarjeta-jugador:#73c6b6;
}

p{
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--azul-background);
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.titulo {
  color: var(--white-textos);
  font-size: 35px;
  font-family: 'Raleway', sans-serif
}

.subtitulo {
  color: var(--white-textos);
  font-size: 24px;
  font-family: 'Raleway', sans-serif
}

.tarjetas, .tarjetas-ataques {
  display: flex;
  gap: 10px;
}

.tarjeta-de-mokepon {
  width: 280px;
  height: 150px;
  background: var(--verde-tarjetas);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-textos);
  font-size: 19px;
  cursor:pointer ;
}


.tarjeta-de-mokepon img {
  width: 90px;
}

#boton-mascota {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background: var(--gris-botones);
  border: 2px solid white;
  color: var(--white-textos);
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
  margin-top: 30px;
  cursor: pointer;
}

input {
  display: none;
}

input:checked + label {
  background-color: var(--gris-seleccion-boton);
}

#seleccionar-ataque {
  display: none;
  flex-direction: column;
  align-items: center;
  
}

.ataques {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  color: white;
  gap: 35px;
  width: 35%;
  margin: auto;
}

.boton-ataques {
  background-color: var(--gris-seleccion-boton);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  border-color: transparent;
  width: 180px;
  color: white;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  cursor:pointer;
}

.boton-ataques:disabled {
  filter: blur(2px);
  cursor: not-allowed;
}

#mensajes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  color: white;
  font-size: 30px;
  background: var(--degradado);
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

#boton-reiniciar {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background: #95A5A6  ;
  border: 2px solid white;
  color: white;
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
  margin-top: 30px;
  cursor: pointer;
}

#reiniciar{
  display: none;
  justify-content: center;
}

#vidas-jugador, #vidas-enemigo {

  font-size: 32px;
  margin-bottom: 0;
}

.carta-jugador, .carta-enemigo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 10px 0;
  width: 100%;
  min-height: 130px;
  background-color:var(--tarjeta-jugador) ;
  border-radius: 15px;
  gap: 10px;
  padding: 10px 0;
}

.carta-enemigo{
  background-color:var(--tarjeta-enemigo) ;
}


@media (max-width: 360px) {
    
    .titulo{
      font-size:30px ;
    }
    .subtitulo{
      font-size:26px ;
    }

    .tarjeta-de-mokepon{
      width: 200px;
      height: 100px;
    }

    .boton-ataques{
      display:flex ;
      flex-direction: column;
      align-items: center;
      margin: 13px 0;
      font-size: 15px;
    }

  #mensajes{
    width: 220px;
    font-size: 20px;
  }

  .tarjetas, .tarjetas-ataques {
    flex-direction: column;
    
  }

  .ataques{
    width: 80%;
    font-size:15px;
  }

}