@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200&family=Inconsolata&family=Raleway:wght@300&display=swap');
body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color:#2E4053;
}
#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Seccion de titlos de seleccion de mascota*/
.titulo {
  color: white;
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
}

.subtitulo {
  color: white;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
}

/*Estilos de tarjetas de pokemones*/
.tarjetas {
  display: flex;
  gap: 10px;
}

@media (max-width:360px){
  .tarjetas{
    flex-direction: column;
  }
}
.tarjeta-de-mokepon {
  width: 280px;
  height: 150px;
  background:#45B39D;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.tarjetas input[name='mascota']:checked + .tarjeta-de-mokepon{
background-color:#99A3A4;
}

.tarjeta-de-mokepon img {
  width: 90px;
}

#boton-mascota {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background: #95A5A6  ;
  border: 2px solid white;
  color: white;
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
  margin-top: 30px;
}

input {
  display: none;
}
.boton-ataques{

  width: 120px;
  height: 40px;
  border-radius: 20px;
  background: #95A5A6  ;
  border: 2px solid #95A5A6 ;
  color: white;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  margin-top: 30px;
}

.btn-ataques{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 40px 0;
  width: 500px;
  gap:20px;
}
@media (max-width:360px){
  .btn-ataques{
    flex-direction: column;
    gap: 7px;
  }

/*Estilos de mensaja de vidas */
.mensajes-vidas{
  display: flex;
  align-items: flex-start;
  padding: 10px;
  width: 450px;
  height: 150px;
  border-radius: 20px;
  color: white;
  font-size: 18px;
  font-family: 'Inconsolata', monospace; 
  gap: 40px;
}
@media (max-width:360px){
  .mensajes-vidas{
    flex-direction: column;

  }
}
.carta-jugador{
  display: flex;
  align-items: center;
  align-content: center;
  padding: 10px;
  color: white;
  background: #73C6B6;
  width: 300px;
  height: 200px;
  border-radius: 15px;
  font-size: 25px;
}

.carta-enemigo{
  display: flex;
  align-items: center;
  color: white;
  padding: 10px;
  background:#E6B0AA ;
  width: 300px;
  height: 200px;
  border-radius: 15px;
  font-size: 25px;
}
#mensajes{
  display: grid;
  align-content: center;
  height: auto;
  justify-content: center;
  grid-template-columns: 300px 150px ;
  gap: 20px;
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
}

@media (max-width:360px){
  #mensaje{
    display: flex;
    flex-direction: column;
  }
}
#boton-reiniciar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  height: 40px;
  border-radius: 15px;
  background: #95A5A6  ;
  border: 2px solid white;
  color: white;
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
  margin: 15px 0;
}

#seleccionar-ataque{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilos de panel de combates */
.panel-combate{
  padding: 10px;
  width: 250px;
  height: 150px;
  border-radius: 15px;
  background: linear-gradient(#A3E4D7,#E6B0AA) ;
  color: white;
  font-family: 'Inconsolata', monospace;
  font-weight: 600;
}

.reiniciar{
  display: flex;
  justify-content: center;
  align-content: center;
}

